{% extends "base.html" %}
{% block content %}
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
            {% for movie in recommendation %}
                <div class="col-md-3">
                  <div class="thumbnail">
                      <div class="img-responsive">
                          <a href="{% url 'movies:movie_detail' movie.movie.slug %}">
                            <img src="/media/{{ movie.movie_pic_url }}" class="img-thumbnail">
                          </a>
                      </div>
                      <div class="caption">
                        <div class="row">
                          <div class="col-md-12">
                            <a href="" class="text-left movie-title">
                              <span>{{ movie.movie.movie_name }}</span>
                            </a>
                          </div>
                        </div>
                      </div>
                  </div><br>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}