{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

      <title>MovieDeep | Film Advice Site</title>
      <!-- Bootstrap core CSS -->
      <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static '/css/style.css' %}" rel="stylesheet">
      <link href="{% static '/css/popup.css' %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static '/css/star-rating.css' %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  </head>

  <body>
<style>




</style>
    <div id="movie_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" style="pointer-events: auto">
        <button style="color:#fff; font-size: 2rem;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div id="movie_content" class="movie-content text-center">

        </div>

      </div>
    </div>
    <header>
      <div class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div class="d-flex justify-content-between">
              <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                <img src="/media/site/movie-clapper-open.png" class="img-responsive" style="margin-right: 5px" width="25" height="25">
                <strong>MovieDeep</strong>
              </a>
            </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"> Home </a>
              </li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="">Recommendation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Watchlist</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Friends</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link disabled" href="">Recommendation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="">Watchlist</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="">Friends</a>
                  </li>
                {% endif %}
            </ul>
        </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles:auth_profile' request.user.slug %}">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles:auth_logout' %}">Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles:auth_login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles:auth_registration' %}">Register</a>
                  </li>
                {% endif %}
            </ul>
        </div>

      </div>
     </div>
    </header>


    {% block content %}
    {% endblock %}


<footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 fh5co-widget">
					<h3>Discover Movies You May Like.</h3>
					<p>Discover movies you may like. Dont waste your time. If you like, you can donate.</p>
					<p><a class="btn btn-primary" href="#"> Donate </a></p>
				</div>
				<div class="col-md-8">
					<h3></h3>
                    <div class="row">
					<div class="col-md-4 col-sm-4 col-xs-6">
						<ul class="fh5co-footer-links">
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Contact</a></li>
                            <li><a href="#">API</a></li>
						</ul>
					</div>

					<div class="col-md-4 col-sm-4 col-xs-6">
						<ul class="fh5co-footer-links">
							<li><a href="#">About</a></li>
							<li><a href="#">Feedback</a></li>
							<li><a href="#">Github</a></li>
						</ul>
					</div>

					<div class="col-md-4 col-sm-4 col-xs-6">
						<ul class="fh5co-footer-links">
							<li><a href="#">iOS</a></li>
							<li><a href="#">Android</a></li>
						</ul>
					</div>
                    </div>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2018 | All Rights Reserved.</small>
						<small class="block">Powered by  Ümit Öztürk</small>
					</p>
				</div>
			</div>

		</div>
	</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/js/jquery.star-rating-svg.js' %}"></script>
    {% block script %}
    {% endblock %}
<script>

$(document).ready(function() {

    function movieFormat(movies){
        movieContent = "<a href='/movie/" + movies.slug + "'> <img src='" + movies.get_movie_banner + "' style='max-width: 370px' class='img-responsive' alt='' /></a><form id='rate_button_submit' method='post'><div id='quickrate' class='movies enabled rating'><div class='rating-buttons rate-buttons'><button id='button-rate-1' name='button-rate-1' class='rating-1 small'><span></span> So Bad</button><button id='button-rate-2' name='button-rate-2' class='rating-2 small'><span></span> Bad</button><button id='button-rate-3' name='button-rate-3' class='rating-3 small'><span></span> Medium</button><button id='button-rate-4' name='button-rate-4' class='rating-4 small'><span></span> Good</button><button id='button-rate-5' name='button-rate-5' class='rating-5 small'><span></span> Awesome</button></div><div class='rating-skip action-button'><button  id='button-rate-5' name='button-rate-5'>Haven't Seen</button></div> </div></form>"
        return movieContent
    }

    function fetchMovie(data) {
        return data['random_movie'][0]
    }


    $('#rate_button').on('click', function() {
        $.ajax({
            url: "{% url 'movies:get_random_movies' %}",
            success: function(data) {
                movie = fetchMovie(data)
                movie_html = movieFormat(movie)
                $('#movie_content').html(movie_html)

                jQuery('#movie_modal').modal('show');
            },
            error: function(e) {
                console.log(e);
            }
        });
        return false;
    });
});

$('#movie_modal').on('shown.bs.modal',function() {
    $("#rate_button_submit").on('submit', function(e) {
        e.preventDefault();
        var form = $(this).parent().closest('form');
        var action = form.attr('action');
        var data = form.serialize();


        $.ajax({
            type: 'POST',
            url: "{% url 'movies:save_rate_movie' %}",
            data: data,
            success: function () {
                console.log("Success")
            }
        });
    });

});







</script>
  </body>
</html>