{% extends "base.html" %}
{% block content %}
    {% include "home.html" %}
    <main role="main">
      {% if request.user.is_authenticated %}
        <section class="jumbotron text-center background-image-slide">
          <div class="container ">
            <h1 class="jumbotron-heading text-light">Your Favorite Movie</h1>
            <p class="lead text-muted">Find your favorite movie with MovieDeep right now.</p>
              <p>
                <a href="{% url 'movies:recommend' %}" class="btn btn-primary my-2">Find Your Movie</a>
                <a href="{% url 'movies:recommend' %}" class="btn btn-secondary my-2">Quick Rate Now</a>
              </p>
          </div>
        </section>
      {% else %}
        <section class="jumbotron text-center background-image-slide">
          <div class="container ">
            <h1 class="jumbotron-heading text-light">Your Favorite Movie</h1>
            <p class="lead text-muted">Find your favorite movie with MovieDeep right now.</p>
            <p>
                <button name="rate_button" class="btn btn-primary my-2">Find Your Movie</button>
            </p>
          </div>
        </section>
      {% endif %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            {% for movie in movies %}
                <div class="col-md-3">
                  <div class="thumbnail">
                      <div class="img-responsive">
                          <a href="https://www.imdb.com{{ movie.id }}">
                            <img src="{{ movie.image.url }}" class="img-thumbnail">
                          </a>
                      </div>
                      <div class="caption">
                        <div class="row">
                          <div class="col-md-12">
                            <a href="" class="text-left movie-title">
                              <span>{{ movie.title }}</span>
                            </a>
                          </div>
                        </div>
                      </div>
                  </div><br>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
{% endblock %}