{% extends "base.html" %}
{% block script %}
<script>


$(document).ready(function() {
    $(".list-group-item").click( function(){
        $(".list-group-item.active").removeClass("active");

        $(this).addClass("active");
    });
});
</script>
{% endblock %}

{% block content %}
<style>

    .list-col-3 {
        margin: 0;
        padding: 0;

    }
    .list-group-item{
        height: 50px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="card hovercard">
                <div class="card-background">
                    <img class="card-bkimg" alt="" src="/media/site/background.jpg">
                </div>
                <div class="useravatar">
                    <img alt="" src="/media/site/background.jpg">
                </div>
                <div class="card-info"> <span class="card-title">Pamela Anderson</span>

                </div>
            </div>
                <div class="list-group" id="list-tab" role="tablist">
                    <div class="row">
                        <div class="col-3 list-col-3">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Stats</a>
                        </div>
                        <div class="col-3 list-col-3">
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Friends</a>
                        </div>
                        <div class="col-3 list-col-3">
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Watchlist</a>
                        </div>
                        <div class="col-3 list-col-3">
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Ratings</a>
                        </div>
                    </div>
                </div>
            <div class="row">
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                  <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}